.text {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 90px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color:white;
}

.button {
    margin-left: 45px;
    margin-top: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

div {
    border: 1px solid;
    color: purple;
    border: 1px solid;
    box-shadow:
    0 0 10px lightyellow,
    0 0 20px purple,
    0 0 40px yellow,
    0 0 30px white;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    font-size: 17px;
    background-image: url('밤하늘.jpg');
    background-size: cover;
    background-position: center;
    opacity:0
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('바깥밤하늘.jpg');
    background-size: cover; 
    background-position: left;
}

.button:hover {
    background-image: url('star.jpg');
    background-position: left;
}

.neon{
    color: white;
    text-shadow:
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow;
}

div:hover{
    opacity:1;
    transition:3.5s;
}

div:not(hover){
    opacity:0;
    transition:3s 
}
